body {
    font-family: 'times new roman', palatino linotype, athena, tahoma;
    font-size: 10pt;
    color: rgb(0,0,0);
    text-align: left;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 3;
}